# tag-version-prefix=""
# registry = https://registry.npmjs.org
# @local:registry = http://localhost:4873/
# registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
# proxy=http://localhost:7890
# https-proxy=http://localhost:7890
# https_proxy=http://localhost:7890
shamefully-hoist=true
strict-peer-dependencies=false
# 本地仓库 - 开发
# registry=http://localhost:4873
# @yithub:registry=http://localhost:4873