# tag-version-prefix=""
# registry = https://registry.npmjs.org
# @local:registry = http://localhost:4873/
# registry=https://registry.npmmirror.com
# registry=https://packages.aliyun.com/62453cb256f85235f7dda0f5/npm/npm-registry/

# proxy=http://localhost:7890
# https-proxy=http://localhost:7890
# https_proxy=http://localhost:7890
# 本地仓库 - 开发
# registry=http://localhost:4873
# @yithub:registry=http://localhost:4873