# tag-version-prefix=""
# registry = https://registry.npmjs.org
# @local:registry = http://localhost:4873/
# registry=https://registry.npmmirror.com
registry=https://packages.aliyun.com/62453cb256f85235f7dda0f5/npm/npm-registry/
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
# electron_mirror=https://npmmirror.com/mirrors/electron/
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"

# proxy=http://localhost:7890
# https-proxy=http://localhost:7890
# https_proxy=http://localhost:7890
shamefully-hoist=true
strict-peer-dependencies=false
# 本地仓库 - 开发
# registry=http://localhost:4873
# @yithub:registry=http://localhost:4873