/* sfc-style:D:\projects\awesome-brain-manager\src\ui\PomodoroListView.vue?type=style&index=0 */
#pomodoroList {
  background-color: none !important;
}
#pomodoroList .n-list-item {
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0.5;
}
#pomodoroList .n-list-item .n-list-item__main {
  width: 0;
  flex: 1;
}

/* sfc-style:D:\projects\awesome-brain-manager\src\ui\CalendarView.vue?type=style&index=0 */
#calendarContainerInSelf[data-v-c3071a59] .n-calendar-header__extra .n-button-group .n-button {
  max-width: max-content;
}

/* sfc-style:D:\projects\awesome-brain-manager\src\ui\ClockView.vue?type=style&index=0 */
.radialTimeText[data-v-3b6139ec] {
  font-size: 32px;
  font-weight: 600;
}

/* sfc-style:D:\projects\awesome-brain-manager\src\ui\PomodoroHistory.vue?type=style&index=0 */
#historyViewContainer[data-v-fb617fc8] {
  padding: 5px 10px;
}

/* fakecss:D:/projects/awesome-brain-manager/src/ui/components/Icon.esbuild-svelte-fake-css */
.icon.svelte-1gcidq0 {
  vertical-align: middle;
}

/* fakecss:D:/projects/awesome-brain-manager/src/ui/components/Reminder.esbuild-svelte-fake-css */
main.svelte-ero3m8 {
  padding: 1em;
  margin: 0 auto;
}
.reminder-actions.svelte-ero3m8 {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.reminder-file.svelte-ero3m8 {
  color: var(--text-muted);
  cursor: pointer;
}
.reminder-file.svelte-ero3m8:hover {
  color: var(--text-normal);
  text-decoration: underline;
}
.later-select.svelte-ero3m8 {
  font-size: 14px;
}

/* src/main.scss */
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}
.book {
  border: 1px solid var(--background-modifier-border);
  padding: 10px;
}
.book__title {
  font-weight: 600;
}
.book__author {
  color: var(--text-muted);
}
