/* UpdateModal.ts */
.awesome-brain-manager-update-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awesome-brain-manager-update-modal {
    min-width: 35%;
    max-height: 70%;
}

.awesome-brain-manager-update-modal img {
    width: 100%;
    height: auto;
    margin: 5px;
}
