// https://github.com/whyt-byte/Blue-Topaz_Obsidian-css and https://github.com/kepano/obsidian-minimal
@import 'obsidian-default-theme';
@import 'styles-setting';
@import 'fonts';
@import '../color-schemes/macos';
@import '../color-schemes/atom';
@import '../color-schemes/nord';
@import '../color-schemes/awesome';
@import 'clutter-heading';
@import 'notebook-like-bg';
@import 'callout';
@import 'blockquote';
@import 'fullwidth';

body {
    --theme-color: var(--interactive-accent);
    /*radius*/
    --radius-xs: 3px;
    --radius-s: 5px;
    --radius-m: 7px;
    --radius-l: 15px;
    --font-size-preview-blockquote: 1em;
    --callout-color: var(--interactive-accent-rgb);
	// tag
	--font-size-tag: 0.75em;
	--font-family-special-tag: "Lucida Handwriting", "Segoe UI Emoji";
}
