// $font-stack: Helvetica, sans-serif;
// $primary-color: #333;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

// .book {
//   border: 1px solid var(--background-modifier-border);
//   padding: 10px;
// }

// .book__title {
//   font-weight: 600;
// }

// .book__author {
//   color: var(--text-muted);
// }

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
    display: inline-block;
}

#emoji-modal {
    padding: 0px;
    min-width: unset;
    width: unset !important;
}

#emoji-modal>.modal-content {
    margin-top: 0px;
}

#emoji-modal>button {
    background-color: unset;
    border: 0px !important;
    box-shadow: 0px !important;
}

#emoji-modal>.modal-close-button {
    visibility: hidden;
}

/* UpdateModal.ts */
.awesome-brain-manager-update-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awesome-brain-manager-update-modal {
    min-width: 35%;
    max-height: 70%;
}

.awesome-brain-manager-update-modal img {
    width: 100%;
    height: auto;
    margin: 5px;
}
