VITE_OUTDIR=../../../one-blog/posts/.obsidian/plugins/awesome-brain-manager
THEME_OUTPUT_DIR="../../../one-blog/posts/.obsidian/themes/awesome-brain-manager"
# VITE_OUTDIR=../../test-vault/.obsidian/plugins/awesome-brain-manager
# THEME_OUTPUT_DIR="../../test-vault/.obsidian/themes/awesome-brain-manager"
VUE_APP_LOCIZE_PROJECTID=awesome-brain-manager
VUE_APP_LOCIZE_APIKEY=
VUE_APP_LOCIZE_VERSION=